.Header {
  margin-bottom: 3%;
}
.App-header {
  background-color: white;
  margin-top: 1%;
  align-items: center;
  font-size: 90%;
  color: black;
}

.App-logo {
  margin: -2%;
  animation: App-logo-spin infinite 40s linear;
  height: 20vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
